# Unreal Engine build folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE/editor
.idea/
.vscode/
*.suo
*.user
*.userprefs
*.log
*.tmp

# Build artifacts (general)
*.pdb
*.obj
*.ipch
*.bak
*.orig

# macOS and Windows system files
.DS_Store
Thumbs.db
desktop.ini
